.lt-IE9 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
}

.lt-IE9 .lt-IE9-container {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  background-color: #fff;
  height: 300px;
  border-radius: 4px;
}

.lt-IE9 .lt-IE9-title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 18px;
  font-weight: 700;
  margin-top: 40px;
}

.lt-IE9 .lt-IE9-content {
  font-size: 17px;
  color: #333;
  margin: 28px 45px;
  line-height: 24px;
  text-align: center;
}